body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #333;
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background-color: #af4c7d;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #ab337d;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 4px 0;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}


nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 30px;
}

#box {
  padding: 20px;
  border: 1px solid #aaa;
  background-color: lightgray;
}

#colorBox {
  width: 150px;
  height: 150px;
  background-color: lightblue;
}
